@charset "utf-8";

li {
  list-style: none;
}

a {
  text-decoration: none;
}


body {
  background-color: #E9E9E9;
}
/*======header======*/
header {
  border-bottom: 2px solid #888;
}

header h1 {
  font-size: 45px;
  padding: 50px;
  text-align: center;
  font-family: 'Shrikhand', cursive;
  color: #555;
}

.top_pics {
  margin-bottom: 20px;
}

.top_navlist {
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin: 0 auto 20px;
}

.top_navlist li {
  text-align: center;
  padding-bottom: 5px;
}

.top_navlist li:hover {
  border-bottom: 2px solid #555;
  margin-bottom: -5px;
}


/*======main======*/
/*------title------*/
main {
  width: 80%;
  margin: 0 auto;
}

.title {
  width: 500px;
  height: 150px;
  text-align: center;
  margin: 10px auto;
}

.title h2 {
  font-size: 30px;
  text-align: center;
  padding: 20px;
}


/*------section------*/
.section {
  margin: 0 auto 100px;
}

.section h3 {
  font-size: 24px;
  text-align: center;
}

